
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Delicious+Handrawn&family=Story+Script&display=swap');
body{
    background-color: rgb(230, 146, 146);
    color: rgb(3, 0, 0);
    text-align: center;
    font-size: 25px;
    
}

.paragrafo{
    color: rgb(82, 32, 25);
    font-size: 40px;
    font-family: 'cookie';
}

.imagem{
    width: 10%;
}

.rodape{
    font-size: 13px;
    color: rgb(209, 87, 168);
    margin: 0.5px;
    padding: 13%;
}
.h1{
    color: rgb(151, 49, 121);
    font-size: 300%;
    font-family: 'delicious handrawn';
}
.h2{
    color: rgb(5, 2, 4);
    font-size: 150%;
    font-family: 'story script';
}