
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: rgb(230, 146, 146);
    color: rgb(3, 0, 0);
    text-align: center;
    font-size: 25px;
    
}

.paragrafo{
    color: rgb(8, 5, 1);
    font-size: 20px;
    font-family: 'momo signature';
}

.imagem{
    width: 25%;
}

.rodape{
    font-size: 13px;
    color: rgb(209, 87, 168);
    margin: 0.5px;
    padding: 13%;
}
.h1{
    color: rgb(236, 117, 101);
    font-size: 300%;
    font-family: 'Dancing Script';
}